html {
  font-family: Lato, sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

.logo {
  width: 30%;
  margin-left: 50px;
}

.left-section {
vertical-align: middle;
margin: auto;
}

.right-section{
  padding-right: 3em;
}

.top-banner {
  background-color: #f1f1f1;
  padding: 10px 0px;
}

.hero-img {
  filter: brightness(70%);
}

nav {
  width: 100%;
  background-color: #a9350e;
}

nav ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

nav ul li {
  font-family: Lato, sans-serif;
  list-style: none;
  float: left;
  text-align: center;
  border-left: 1px solid #fff;
  width: 16.6667%; /* fallback for non-calc() browsers */
  width: calc(100% / 6);
  box-sizing: border-box;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px 0;
}

nav ul li a:hover {
  color: #feb056;
}


.hero {
  width: 100%;
  position: relative;
}

.hero-content {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.section-2 {
  background-color: #f1f1f1;
}

.orange {
  color: #a73619;
}

.white {
  color: #fff;
}

.cta {
background-color: #a73619;
border: none;
}

.cta:hover {
  background-color: #feb056;
  color: #a73619;
}

.right-section li p {
  text-align: right;
}

.items-right {
  vertical-align: middle;
}

.icon-nav {
  margin-left: 10px
}

.donate-btn {
  text-align: center;
  float: right;
  background-color: #5e6619;
  border: none;
  color: #fff;
}

.donate-btn:hover {
  background-color: #f1f1f1;
  color: #5e6619;
  border: 1px solid #5e6619;
}


.section-3 {
  background-image: url("../images/banner-section-3.jpg");
  height: 300px;
  background-position: left;
  background-size: cover;
  position: relative;

}

.section-3-content {
  position: absolute;
  top: 50%; left: 70%;
  transform: translate(-50%, -50%);
  color: white;
}

.middle-div {
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.sec-2-card {
  border-radius: 30px;
}


/* ------*/

.hero-img {
  background-image: url("../images/rescues-banner.jpg");
  background-color: rgba(0,0,0,0.3);
  background-blend-mode: multiply;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero-container {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.rescue-main {
  background-color: #f1f1f1;
}

.rescue-cards {
  width: 70%;
  border-radius: 10px;
}

.card-container {
box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.1);
margin: 0px 50px;
border-radius: 10px;
transition: all .2s;
}

.card-container:hover {
  transform: scale(1.1);
  background-color: rgba(167,54,25,0.1);
}

/*--------*/

.hero-img-adopt {
  background-image: url("../images/adopt-banner.jpg");
  background-color: rgba(0,0,0,0.3);
  background-blend-mode: multiply;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

fieldset {
  border-top:0px;
  margin-bottom: 0px;
}


/*-----------*/

.hero-img-rescues {
  background-image: url("../images/rescues-banner.jpg");
  background-color: rgba(0,0,0,0.3);
  background-blend-mode: multiply;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}


/*------------*/

.hero-img-index {
  background-image: url("../images/rescues-banner.jpg");
  background-color: rgba(0,0,0,0.3);
  background-blend-mode: multiply;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
